@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Jockey One", Roboto, Calibri, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 70px 0;
}

#personagens, #viloes, #final {
    border-bottom: 30px solid #5ED338;
}

#banner { background-color: #F43443; }
#inicio { background-color: #E8E8E0; }
#personagens { background-color: #819DF9; }
#poderes { background-color: #E7D5AB; padding: 50px 0; }
#viloes { background-color: #555250; border-color: #FB3603; }
#final { background-color: #819DF9; }

h2 {
    color: #fff;
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}
